frontend/node_modules/
frontend/.cache/
frontend/yarn.lock
frontend/build/
frontend/public/static/email-builder/
frontend/dist/
frontend/email-builder/dist/
email-builder/node_modules/
email-builder/.cache/
email-builder/yarn.lock
email-builder/dist/
static/public/static/altcha.umd.js
.vscode/

config.toml
docker-compose.override.yml
node_modules
listmonk
dist/*
uploads/
