[app]
# Interface and port where the app will run its webserver.  The default value
# of localhost will only listen to connections from the current machine. To
# listen on all interfaces use '0.0.0.0'. To listen on the default web address
# port, use port 80 (this will require running with elevated permissions).
address = "localhost:9000"

# ###### IMPORTANT ######
# Username and password are only used during installation (--install)
# for creating the superadmin user in the database.
#
# After installation, login to the admin dashboard, update the superadmin's
# user profile with the necessary details and remove these username and
# password from here.
#
# Username should be min 3 chars and Password should be min 8 chars.
admin_username = "listmonk"
admin_password = "listmonk"

# Database.
[db]
host = "localhost"
port = 5432
user = "listmonk"
password = "listmonk"

# Ensure that this database has been created in Postgres.
database = "listmonk"

ssl_mode = "disable"
max_open = 25
max_idle = 25
max_lifetime = "300s"

# Optional space separated Postgres DSN params. eg: "application_name=listmonk gssencmode=disable"
params = ""
