{{ define "campaign-status" }}
{{ template "header" . }}
<h2>Campaign update</h2>
<table width="100%">
    <tr>
        <td width="30%"><strong>Campaign</strong></td>
        <td><a href="{{ index . "RootURL" }}/campaigns/{{ index . "ID" }}">{{ index . "Name" }}</a></td>
    </tr>
    <tr>
        <td width="30%"><strong>Status</strong></td>
        <td>{{ index . "Status" }}</td>
    </tr>
    <tr>
        <td width="30%"><strong>Sent</strong></td>
        <td>{{ index . "Sent" }} / {{ index . "ToSend" }}</td>
    </tr>
    {{ if ne (index . "Reason") "" }}
        <tr>
            <td width="30%"><strong>Reason</strong></td>
            <td>{{ index . "Reason" }}</td>
        </tr>
    {{ end }}
</table>
{{ template "footer" }}
{{ end }}