<!DOCTYPE html>
<html lang="zh">
  <title>{{ .Campaign.Subject }}</title>
  <body>
    <div style="min-width: 320px;max-width: 640px; margin: 0 auto">
      <!-- 头 -->
      <div
        class="header-color-css"
        style="
          padding: 10px 20px 7px 20px;
          display: flex;
          background-image: url({{ RootURL }}/uploads/gradient-background.png);
          background-size: contain;
        "
      >
        <div class="app-loading-new">
          <img
            src="{{ RootURL }}/uploads/sreading-logo-normal.png"
            width="50px"
            alt="SReading"
          />
        </div>
        <div style="padding-left: 10px; width: fit-content; text-align: left">
          <div
            style="
              font-size: 22px;
              line-height: 22px;
              font-weight: bold;
              text-shadow: 1px -1px 0 #ffffff, -1px -1px 0 #ffffff,
                -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
            "
          >
            SReading 从心所阅
          </div>
          <div
            style="
              margin-top: 6px;
              font-size: 21px;
              line-height: 22px;
              font-weight: bold;
              text-shadow: 1px -1px 0 #ffffff, -1px -1px 0 #ffffff,
                -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
            "
          >
            www.sreading.com
          </div>
        </div>
      </div>
      <!-- 内容 -->
      <div
        style="
          padding: 10px;
          background-color: #f3f3f8;
          margin-top: 10px;
          border-radius: 5px;
        "
      >
        <div
          style="padding: 10px; background-color: #ffffff; border-radius: 10px"
        >
          {{ template "content" . }}
        </div>
      </div>
      <!-- 脚 -->
      <div style="font-size: 10px; padding: 20px 10px">
        <div>SReading 人工智能驱动的中文学习平台，让您从心所阅，轻松高效</div>
        <div>
          {{ if eq .Subscriber.Attribs.langKey "zh-hans" }}在使用过程中发现任何问题，请您及时与我们联系。
          {{ else if eq .Subscriber.Attribs.langKey "zh-hant" }}在使用過程中發現任何問題，請您及時與我們聯係。
          {{ else }}Unsubscribe
          {{ end }}
          Email:<a href="mailto:support@sreading.org">support@sreading.org</a>
        </div>
        <div
          style="display: flex; justify-content: flex-end; align-items: center"
        >
          <a style="margin-right: 20px" href="mailto:support@sreading.org">
            {{ if eq .Subscriber.Attribs.langKey "zh-hans" }}联系我们
            {{ else if eq .Subscriber.Attribs.langKey "zh-hant" }}聯係我們
            {{ else }}Contact Us
            {{ end }}
            </a>
          <a
            style="margin-right: 20px"
            href="https://www.sreading.org"
            target="_blank"
            >
            {{ if eq .Subscriber.Attribs.langKey "zh-hans" }}在线使用
            {{ else if eq .Subscriber.Attribs.langKey "zh-hant" }}在綫使用
            {{ else }}Use SReading
            {{ end }}
          </a>
          <a
            href="https://apps.apple.com/us/app/sreading/id6446602590?itsct=apps_box_badge&amp;itscg=30200"
            style="display: inline-block; overflow: hidden"
            ><img
              src="{{ RootURL }}/uploads/app-store.png"
              alt="Download on the App Store"
              style="border-radius: 2px; height: 27px"
          /></a>
          <a
            href="https://play.google.com/store/apps/details?id=org.sreading&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
            ><img
              style="height: 40px"
              alt="Get it on Google Play"
              src="{{ RootURL }}/uploads/google-play.png"
          /></a>
        </div>
      </div>
    </div>
    <div>
      <div
        style="
          border-bottom: 1px #d8d8d8 solid;

          margin-top: 40px;
          height: 40px;
        "
      >
        <img
          style="float: left; margin-left: 20px"
          height="40px"
          src="{{ RootURL }}/uploads/panda-music.png"
        />
      </div>
      <div style="text-align: center; font-size: small">©2024 SReading</div>
    </div>
   <div class="footer" style="text-align: center;font-size: 12px;color: #888;">
           <p>
               <a href="{{ UnsubscribeURL }}?domain=sreading&langKey={{ .Subscriber.Attribs.langKey }}" style="color: #888;">
                 {{ if eq .Subscriber.Attribs.langKey "zh-hans" }}退订
                 {{ else if eq .Subscriber.Attribs.langKey "zh-hant" }}退訂
                 {{ else }}Unsubscribe
                 {{ end }}
               </a>
               &nbsp;&nbsp;
               <a href="{{ MessageURL }}" style="color: #888;">
                 {{ if eq .Subscriber.Attribs.langKey "zh-hans" }}在浏览器中查看
                 {{ else if eq .Subscriber.Attribs.langKey "zh-hant" }}在瀏覽器中查看
                 {{ else }}View in browser
                 {{ end }}
               </a>
           </p>
       </div>
  </body>
</html>
