{{ define "filter-badge" -}}
<span class="filter-tag{{ if and (not .Variant) (or (not .Class) (eq .Class "tag")) }} filter-default{{ end }}">
       {{- if .LabelURL }}<a href="{{ .LabelURL }}" class="unstyled">{{ end }}
       {{- if .Avatar }}
       <span class="badge badge-avatar {{ default "" .Class }}"{{ if .Variant }} data-variant="{{ .Variant }}"{{ end }}><span class="avatar{{ if .Avatar.Disabled }} disabled{{ end }}{{ if .Avatar.Size }} {{ .Avatar.Size }}{{ end }}">{{ template "avatar-icon" .Avatar }}<span class="avatar-label">{{ .Label }}</span></span></span>
       {{- else }}
       {{ Badge .Label (default "" .Class) (default "" .Variant) }}
       {{- end }}
       {{- if .LabelURL }}</a>{{ end }}
       <a href="{{ .URL }}" title="{{ L.T "globals.buttons.remove" }}" data-testid="btn-remove-filter">{{ Icon "x" }}</a>
</span>
{{- end }}
