body[data-md-color-primary="white"] .md-header[data-md-state="shadow"] {
  background: #fff;
  box-shadow: none;
  color: #333;

  box-shadow: 1px 1px 3px #ddd;
}

.md-typeset .md-typeset__table table {
  border: 1px solid #ddd;
  box-shadow: 2px 2px 0 #f3f3f3;
  overflow: inherit;
}

body[data-md-color-primary="white"] .md-search__input {
  background: #f6f6f6;
  color: #333;
}

body[data-md-color-primary="white"]
  .md-sidebar--secondary
  .md-sidebar__scrollwrap {
  background: #f6f6f6;
  padding: 10px 0;
}

.md-nav__item--section > .md-nav__link[for] {
  color: #333;
}
.md-nav__item--section {
  margin-bottom: 20px;
}
.md-nav__item--nested .md-nav__list {
  margin-left: 20px;
  border-left: 1px solid #ddd;
}

body[data-md-color-primary="white"] a.md-nav__link--active {
  font-weight: 600;
  color: inherit;
  color: #0055d4;
}
body[data-md-color-primary="white"] .md-nav__item a:hover {
  color: #0055d4;
}

body[data-md-color-primary="white"] thead,
body[data-md-color-primary="white"] .md-typeset table:not([class]) th {
  background: #f6f6f6;
  border: 0;
  color: inherit;
  font-weight: 600;
}
table td span {
  font-size: 0.85em;
  color: #bbb;
  display: block;
}

.md-typeset h1, .md-typeset h2 {
  font-weight: 500;
}

body[data-md-color-primary="white"] .md-typeset h1 {
  margin: 4rem 0 0 0;
  color: inherit;
  border-top: 1px solid #ddd;
  padding-top: 2rem;
}
body[data-md-color-primary="white"] .md-typeset h2 {
  border-top: 1px solid #eee;
  padding-top: 2rem;
}

body[data-md-color-primary="white"] .md-content h1:first-child {
  margin: 0 0 3rem 0;
  padding: 0;
  border: 0;
}

body[data-md-color-primary="white"] .md-typeset code {
  word-break: normal;
}

li img {
  background: #fff;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
  box-shadow: 1px 1px 4px #e6e6e6;
  padding: 5px;
  margin-top: 10px;
}

/* This hack places the #anchor-links correctly
by accommodating for the fixed-header's height */
:target:before {
  content: "";
  display: block;
  height: 120px;
  margin-top: -120px;
}

.md-typeset a {
  color: #0055d4;
}
.md-typeset a:hover {
  color: #666 !important;
  text-decoration: underline;
}
.md-typeset hr {
  background: #f6f6f6;
  margin: 60px 0;
  display: block;
}
.md-header--shadow {
  box-shadow: 0 4px 3px #eee;
  transition: none;
}
.md-header__topic:first-child {
  font-weight: normal;
}