{{ define "unsubscribe" }}
    {{ template "header" .}}

    {{ if not .Data.Unsubscribe }}
        <h2>Unsubscribe</h2>
        <p>Do you wish to unsubscribe from this mailing list?</p>
        <form method="post">
            <div>
                <input type="hidden" name="unsubscribe" value="true" />
                <button type="submit" class="button" id="btn-unsub">Unsubscribe</button>
            </div>
        </form>
        {{ else }}
            <h2>You have been unsubscribed</h2>
        
            {{ if not .Data.Blacklist }}
                <div class="unsub-all">
                    <p>
                        Unsubscribe from all future communications?
                    </p>
                    <form method="post">
                        <div>
                            <input type="hidden" name="unsubscribe" value="true" />
                            <input type="hidden" name="blacklist" value="true" />
                            <button type="submit" class="button button-inline" id="btn-unsuball">Unsubscribe all</button>
                        </div>
                    </form>
                </div>
        {{ else }}
            <p>You've been unsubscribed from all future communications.</p>
        {{ end }}
    {{ end }}

    {{ template "footer" .}}
{{ end }}
