{{ define "admin-forgot-password" }}
{{ template "header" .}}

<section class="login">
	<h2>{{ .L.T "users.forgotPassword"}}</h2>

	<form method="post" action="/admin/forgot" class="form">
		<div>
			<p>
				<label for="email">{{ .L.T "subscribers.email" }}</label>
				<input id="email" type="email" name="email" autofocus required />
			</p>

			{{ if .Data.Error }}<p class="error">{{ .Data.Error }}</p>{{ end }}

			<p><button class="button" type="submit">{{ .L.T "globals.buttons.continue" }}</button></p>
			<p class="small"><a href="{{ .RootURL }}/admin/login">&larr; {{ .L.T "users.login" }}</a></p>
		</div>
	</form>
</section>

{{ template "footer" .}}
{{ end }}
