{{ define "admin-reset-password" }}
{{ template "header" .}}

<section class="login">
	<h2>{{ .L.T "users.resetPassword"}}</h2>

	<form method="post" action="/admin/reset?token={{ .Data.Token }}&email={{ .Data.Email }}" class="form">
		<div>
			<p>
				<label for="password">{{ .L.T "users.newPassword" }}</label>
				<input id="password" type="password" name="password" autofocus required minlength="8" />
			</p>
			<p>
				<label for="password2">{{ .L.T "users.passwordRepeat" }}</label>
				<input id="password2" type="password" name="password2" required minlength="8" />
			</p>

			{{ if .Data.Error }}<p><span class="error">{{ .Data.Error }}</span></p>{{ end }}

			<p class="submit"><button class="button" type="submit">{{ .L.T "users.resetPassword" }}</button></p>
		</div>
	</form>
</section>

{{ template "footer" .}}
{{ end }}
