{{ define "subscription" }}
{{ if eq .Data.Domain "sreading" }}
{{ template "sreading-header" .}}
{{ else if eq .Data.Domain "tlclass" }}
{{ template "tlc-header" .}}
{{ else }}
{{ template "header" .}}
{{ end }}
<section class="section">
    <h2>{{ L.T "public.unsubTitle" }}</h2>
    <form method="post" class="unsub-form">
        <div>
            {{ if .Data.AllowBlocklist }}
            <p>{{ L.T "public.unsubHelp" }}</p>
            {{ end }}

            <p>
                <button type="submit" class="button" id="btn-unsub">{{ L.T "public.unsub" }}</button>
            </p>


        </div>
    </form>

</section>

{{ if eq .Data.Domain "sreading" }}
{{ template "sreading-footer" .}}
{{ else if eq .Data.Domain "tlclass" }}
{{ template "tlc-footer" .}}
{{ else }}
{{ template "footer" .}}
{{ end }}
{{ end }}