{{ define "tlc-header" }}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ .Data.Title }} - {{ .SiteName }}</title>
  <meta name="description" content="{{ .Data.Description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

  {{ if .EnablePublicArchive }}
  <link rel="alternate" type="application/rss+xml" title="{{ L.T "public.archiveTitle" }} - {{ .SiteName }}"
  href="{{ .RootURL }}/archive.xml" />
  {{ end }}

  <link href="/public/static/style.css?v={{ .AssetVersion }}" rel="stylesheet" type="text/css" />
  <link href="/public/custom.css?v={{ .AssetVersion }}" rel="stylesheet" type="text/css">
  <script src="/public/custom.js?v={{ .AssetVersion }}" async defer></script>

  <link rel="shortcut icon" href="/public/static/tlc.ico" type="image/x-icon" />
</head>
<body>
<div class="container wrap" style="text-align: center">
  <header class="header">
    <div class="logo">
      <a href="https://www.tongleclass.com/">
        <img src="/public/static/tlc-logo-title.png" alt="TongLeC" />
      </a>
    </div>
  </header>
  {{ end }}

  {{ define "tlc-footer" }}
</div>

<footer class="container">
  <a target="_blank" rel="noreferrer" href="https://www.tongleclass.com/">TongLeC</a>
</footer>
</body>
</html>
{{ end }}
