{{ define "settings-security" -}}
{{- $d := .Data -}}
<div class="settings-items">
	<div data-keywords="oidc sso single sign-on openid connect authentication login provider identity">
	<label data-field>
		<input type="checkbox" role="switch" x-model="form['security.oidc'].enabled" />
		{{ .L.T "settings.security.enableOIDC" }}
		<small data-hint>{{ .L.T "settings.security.OIDCHelp" }}</small>
	</label>

	<template x-if="form['security.oidc'].enabled">
		<fieldset>
			<label data-field>
				{{ .L.T "settings.security.OIDCURL" }}
				<input type="url" pattern="https?://.*" maxlength="300" placeholder="https://login.yoursite.com"
					required x-model="form['security.oidc'].provider_url" />
				<div class="hstack mt-2 text-7">
					<a href="#" @click.prevent="setOIDCProvider('google')">Google</a>
					<a href="#" @click.prevent="setOIDCProvider('microsoft')">Microsoft</a>
					<a href="#" @click.prevent="setOIDCProvider('apple')">Apple</a>
				</div>
			</label>

			<label data-field>
				{{ .L.T "settings.security.OIDCName" }}
				<input x-ref="oidcProviderName" maxlength="200" x-model="form['security.oidc'].provider_name" />
			</label>

			<label data-field>
				{{ .L.T "settings.security.OIDCClientID" }}
				<input x-ref="oidcClientID" maxlength="200" required x-model="form['security.oidc'].client_id" />
			</label>

			<label data-field>
				{{ .L.T "settings.security.OIDCClientSecret" }}
				<input type="password" maxlength="200" required x-model="form['security.oidc'].client_secret" />
			</label>

			<label data-field class="mt-6">
				<input type="checkbox" role="switch" x-model="form['security.oidc'].auto_create_users" />
				{{ .L.T "settings.security.OIDCAutoCreateUsers" }}
				<small data-hint>{{ .L.T "settings.security.OIDCAutoCreateUsersHelp" }}</small>
			</label>

			<fieldset :disabled="!form['security.oidc'].auto_create_users">
				<div data-field>
					<label for="oidc-user-role">{{ .L.T "settings.security.OIDCDefaultUserRole" }}</label>
					<select id="oidc-user-role" x-model="form['security.oidc'].default_user_role_id">
						{{- range $d.UserRoles }}
							<option value="{{ .ID }}">{{ .Name }}</option>
						{{- end }}
					</select>
					<small data-hint>{{ .L.T "settings.security.OIDCDefaultRoleHelp" }}</small>
				</div>

				<div data-field>
					<label for="oidc-list-role">{{ .L.T "settings.security.OIDCDefaultListRole" }}</label>
					<select id="oidc-list-role" x-model="form['security.oidc'].default_list_role_id">
						<option value="">&mdash; {{ .L.T "globals.terms.none" }} &mdash;</option>
						{{- range $d.ListRoles }}
							<option value="{{ .ID }}">{{ .Name }}</option>
						{{- end }}
					</select>
					<small data-hint>{{ .L.T "settings.security.OIDCDefaultRoleHelp" }}</small>
				</div>
			</fieldset>

			<div data-field class="mt-8">
				<label>{{ .L.T "settings.security.OIDCRedirectURL" }}</label>
				<fieldset class="group">
					<input readonly value="{{ $.ConfigJS.RootURL }}/auth/oidc" />
					<button type="button" class="outline" title="{{ .L.T "globals.messages.clickToCopy" }}" @click="copyToClipboard('{{ $.ConfigJS.RootURL }}/auth/oidc')">{{ Icon "copy" }}</button>
				</fieldset>
			</div>
			<template x-if="!isURLOk">
				<p class="text-danger text-7">
					{{ Icon "alert-triangle" }} {{ .L.T "settings.security.OIDCRedirectWarning" }}
				</p>
			</template>
		</fieldset>
	</template>
	</div>

	<hr />

	<div data-keywords="captcha altcha hcaptcha spam bot protection public form verification">
	<label data-field>
		<input type="checkbox" role="switch" x-model="captchaEnabled" />
		{{ .L.T "settings.security.enableCaptcha" }}
		<small data-hint>{{ .L.T "settings.security.enableCaptchaHelp" }}</small>
	</label>

	<template x-if="captchaEnabled">
		<fieldset>
			<div data-field class="hstack">
				<label><input type="radio" value="altcha" name="captcha_provider" x-model="captchaProvider" /> ALTCHA</label>
				<label><input type="radio" value="hcaptcha" name="captcha_provider" x-model="captchaProvider" /> hCaptcha (deprecated)</label>
			</div>

			<div x-show="captchaProvider === 'altcha'">
				<label data-field>
					{{ .L.T "settings.security.altchaComplexity" }}
					<input type="number" min="1000" max="1000000" x-model.number="form['security.captcha'].altcha.complexity" />
					<small data-hint>{{ .L.T "settings.security.altchaComplexityHelp" }}</small>
				</label>
			</div>
			<div x-show="captchaProvider === 'hcaptcha'">
				<label data-field>
					{{ .L.T "settings.security.captchaKey" }}
					<input maxlength="200" x-model="form['security.captcha'].hcaptcha.key" />
					<small data-hint>{{ .L.T "settings.security.captchaKeyHelp" }}</small>
				</label>
				<label data-field>
					{{ .L.T "settings.security.captchaSecret" }}
					<input type="password" maxlength="200" x-model="form['security.captcha'].hcaptcha.secret" />
				</label>
			</div>
		</fieldset>
	</template>
	</div>

	<hr />

	<fieldset data-keywords="trusted urls cors cross-origin api access allowed hosts">
		<legend>{{ .L.T "settings.security.trustedURLs" }} / CORS</legend>
		<label data-field>
			<textarea rows="5" placeholder="https://example.com" x-model="trustedURLs"></textarea>
			<small data-hint>{{ .L.T "settings.security.trustedURLsHelp" }}</small>
		</label>
	</fieldset>
</div>
{{- end }}
