{{ define "admin-forms" -}}
{{ template "admin-header" . }}
{{- $d := .Data -}}

<script>const _lists = {{ ToJSON $d.PublicLists }};</script>
<section class="forms" x-data="formsView(_lists)">
	<header class="row page-header">
		<div class="col-6">
			<h1 class="page-title">{{ .L.T "forms.title" }}</h1>
		</div>
		<div class="col-6 col-end align-right hstack justify-end">
			{{- if $.ConfigJS.PublicSubscription.Enabled }}
				<a href="{{ $.ConfigJS.RootURL }}/subscription/form" target="_blank" rel="noopener noreferrer" class="button outline small" data-cy="url" title="{{ $.ConfigJS.RootURL }}/subscription/form">
					{{ Icon "arrow-up-right" }} {{ .L.T "forms.publicSubPage" }}
				</a>
			{{- end }}
		</div>
	</header>

	<div class="card page-content">
		{{- if not $d.PublicLists }}
			<p class="text-light">{{ .L.T "forms.noPublicLists" }}</p>
		{{- else }}
			<div class="row">
				<div class="col-4 col-bleed">
					<p class="text-light text-7">{{ .L.T "forms.selectHelp" }}</p>

					<ul class="no lists" data-cy="lists">
						{{- range $i, $list := $d.PublicLists }}
							<li>
								<label><input type="checkbox" value="{{ $list.UUID }}" x-model="checked" {{- if eq $i 0 }} autofocus{{- end }} /> {{ $list.Name }}</label>
							</li>
						{{- end }}
					</ul>

					<hr />
					<h4>{{ .L.T "forms.redirectURL" }}</h4>
					<p class="text-light text-7">{{ .L.T "forms.redirectURLHelp" }}</p>
					{{- if $.ConfigJS.PublicSubscription.RedirectURLs }}
						<ul class="no" data-cy="redirect-urls">
							<li>
								<label><input type="radio" name="redirect-url" value="" x-model="redirectURL" /> {{ .L.T "globals.terms.none" }}</label>
							</li>
							{{- range $.ConfigJS.PublicSubscription.RedirectURLs }}
								<li>
									<label><input type="radio" name="redirect-url" value="{{ . }}" x-model="redirectURL" /> {{ . }}</label>
								</li>
							{{- end }}
						</ul>
					{{- end }}
				</div>

				<div class="col-8 col-end" data-cy="form" aria-label="{{ .L.T "forms.formHTML" }}">
					<p class="text-light text-7">{{ .L.T "forms.formHTMLHelp" }}</p>

					<div x-show="checked.length > 0" x-cloak>
						<div class="align-right">
							<button type="button" class="small outline" @click="copyHTML" title="{{ .L.T "globals.messages.clickToCopy" }}">
								{{ Icon "copy" }} {{ .L.T "globals.buttons.copy" }}
							</button>
						</div>
						<code-editor lang="html" disabled x-effect="$el.value = html"></code-editor>
					</div>
				</div>
			</div><!-- row -->
		{{- end }}
	</div>
</section>

<script type="module" src="{{ URI "/admin/static/js/code-editor.js" }}?v={{ .AssetVersion }}" defer></script>
<script type="module" src="{{ URI "/admin/static/js/views/forms.js" }}?v={{ .AssetVersion }}" defer></script>

{{ template "admin-footer" . -}}
{{ end }}
