{{ define "admin-list" -}}
{{ template "admin-header" . }}
{{- $d := .Data -}}

<script>const _form = {{ ToJSON $d.List }};</script>
<section class="lists" x-data="listsView(_form)">
	<header class="row page-header">
		<div class="col-6">
			<div class="hstack gap-1">
				<a href="{{ URI "/admin/lists" }}" class="back" aria-label="{{ .L.T "globals.buttons.back" }}">{{ Icon "chevron-left" }}</a>
				<h1 class="page-title">{{ $d.List.Name }}</h1>
			</div>
		</div>
	</header>

	{{ template "list-form" dict "Root" . "Submit" "onSubmitUpdate" "Method" "post" "CanSave" ($d.CanManageList $d.List.ID) }}
</section>

<script type="module" src="{{ URI "/admin/static/js/views/lists.js" }}?v={{ .AssetVersion }}" defer></script>

{{ template "admin-footer" . -}}
{{ end }}
