{{ define "admin-users" -}}
{{ template "admin-header" . }}
{{- $d := .Data -}}

<section class="users" x-data="usersView()">
	<header class="row page-header">
		<div class="col-6">
			<div class="hstack">
				<h1 class="page-title">
					{{ .L.T "globals.terms.users" }}
					<span>({{ len $d.Users }})</span>
				</h1>
			</div>
		</div>
		<div class="col-6 col-end align-right hstack justify-end">
			{{- if $d.Can "users:manage" }}
				<a href="{{ URI "/admin/users" }}/new" class="button" data-variant="primary" data-cy="btn-new">
					{{ Icon "plus" }} {{ .L.T "globals.buttons.new" }}
				</a>
			{{- end }}
		</div>
	</header>

	<div class="card page-content has-table">
		<div class="table-wrapper" x-data="table({ total: {{ len $d.Users }} })" @change="onChange($event)">
			{{- if $d.Can "users:manage" }}
				<template x-if="numSelected > 0">
					<ot-dropdown class="bulk-actions">
						<button popovertarget="bulk-actions" type="button" class="small" data-cy="btn-bulk-actions">
							<span x-text="numSelectedLabel"></span> {{ Icon "more-vertical" }}
						</button>
						<menu popover id="bulk-actions">
							<button type="button" role="menuitem" class="ghost" data-variant="danger" data-cy="btn-delete-users" :disabled="isLoading('users')" @click.prevent="onDeleteSelected(numSelected, selectedQueryParams().toString())">
								{{ Icon "trash-2" }} {{ .L.T "globals.buttons.delete" }} <span x-text="numSelected"></span>
							</button>
						</menu>
					</ot-dropdown>
				</template>
			{{- end }}

			<table>
				<thead>
					<tr>
						{{- if $d.Can "users:manage" }}
							<th width="5%"><input type="checkbox" aria-label="{{ .L.T "globals.buttons.toggleSelect" }}"></th>
						{{- end }}
						<th class="cy-username">{{ .L.T "users.username" }}</th>
						<th class="cy-role">{{ .L.Tc "users.role" 1 }}</th>
						<th class="cy-name">{{ .L.T "subscribers.email" }}</th>
						<th class="cy-created_at">{{ .L.T "globals.fields.createdAt" }}</th>
						<th>{{ .L.T "users.lastLogin" }}</th>
						<th class="actions align-right"></th>
					</tr>
				</thead>
				<tbody>
					{{- range $d.Users }}
						<tr data-id="{{ .ID }}">
							{{- if $d.Can "users:manage" }}
								<td><input name="id" type="checkbox" value="{{ .ID }}"></td>
							{{- end }}
							<td>
								{{- if $d.Can "users:manage" }}
									<a href="{{ URI "/admin/users" }}/{{ .ID }}" class="{{ if eq .Status "disabled" }}text-light{{ end }}">{{ .Username }}</a>
								{{- else }}
									<span class="{{ if eq .Status "disabled" }}text-danger{{ end }}">{{ .Username }}</span>
								{{- end }}
								{{- if eq .Type "api" }}<span class="badge outline tag">{{ Icon "code" }} {{ $.L.T "users.type.api" }}</span>{{ end }}
								{{- if eq .Status "disabled" }}<span class="badge enum" data-variant="danger">{{ $.L.T "users.status.disabled" }}</span>{{ end }}
								{{- if .Name }}<div class="text-light text-8">{{ .Name }}</div>{{ end }}
							</td>
							<td>
								<div class="hstack gap-1">
									{{- if eq .UserRole.ID 1 }}
										<a href="{{ URI "/admin/users/roles" }}/{{ .UserRole.ID }}" class="badge">{{ Icon "star" }} {{ .UserRole.Name }}</a>
									{{- else }}
										<a href="{{ URI "/admin/users/roles" }}/{{ .UserRole.ID }}" class="badge" data-variant="secondary">{{ Icon "user" }} {{ .UserRole.Name }}</a>
									{{- end }}
									{{- with .ListRole }}
										<a href="{{ URI "/admin/users/roles/lists" }}/{{ .ID }}" class="badge outline">{{ Icon "list" }} {{ .Name }}</a>
									{{- end }}
								</div>
							</td>
							<td>{{ if .Email.Valid }}{{ .Email.String }}{{ else }}<span class="text-light">&mdash;</span>{{ end }}</td>
							<td class="date-stack">{{ NiceDate .CreatedAt }}</td>
							<td class="date-stack">{{ if .LoggedInAt.Valid }}{{ NiceDate .LoggedInAt }}{{ else }}<span class="text-light">&mdash;</span>{{ end }}</td>
							<td class="actions align-right">
								{{- if $d.Can "users:manage" }}
									<ot-dropdown>
										<button popovertarget="user-actions-{{ .ID }}" type="button" class="ghost small icon" aria-label="{{ $.L.T "globals.buttons.more" }}">
											{{ Icon "more-vertical" }}
										</button>
										<menu popover id="user-actions-{{ .ID }}">
											<a href="{{ URI "/admin/users" }}/{{ .ID }}" role="menuitem" class="button ghost" data-cy="btn-edit">{{ Icon "edit-2" }} {{ $.L.T "globals.buttons.edit" }}</a>
											<button type="button" role="menuitem" class="ghost" data-variant="danger" data-cy="btn-delete" :disabled="isLoading('users')" @click.prevent="onDeleteUser({{ .ID }}, {{ ToJSON .Name }})">{{ Icon "trash-2" }} {{ $.L.T "globals.buttons.delete" }}</button>
										</menu>
									</ot-dropdown>
								{{- end }}
							</td>
						</tr>
					{{- else }}
						<tr><td colspan="8" class="align-center text-light">{{ .L.T "globals.messages.emptyState" }}</td></tr>
					{{- end }}
				</tbody>
			</table>
		</div>
	</div>

</section>

<script type="module" src="{{ URI "/admin/static/js/views/users.js" }}?v={{ .AssetVersion }}" defer></script>

{{ template "admin-footer" . -}}
{{ end }}
