/* Disable all the ridiculous, unnecessary animations except for the spinner */
*:not(.ant-spin-dot-spin) {
  animation-duration: 0s;
  transition: none !important;
}

body {
  font-weight: 400;
}

header.header {
  margin-bottom: 30px;
}

hr {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #eee;
  margin: 30px 0;
}

/* Helpers */
.center {
  text-align: center;
}

.right {
  text-align: right;
}

.text-tiny {
  font-size: 0.65em;
}

.text-small {
  font-size: 0.85em;
}

.text-grey {
  color: #999;
}

.hidden {
  display: none;
}

.empty-spinner {
  padding: 30px !important;
}

/* Layout */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.content-body {
  min-height: 90vh;
}

section.content {
  padding: 24px;
  background: #fff;
}

.logo {
  padding: 30px;
}
  .logo a {
    overflow: hidden;
    display: inline-block;
  }
  .logo img {
    width: auto;
    height: 22px;
  }

.ant-layout-sider.ant-layout-sider-collapsed .logo a {
  width: 20px;
}

.ant-card-head-title {
  font-size: .85em !important;
  color: #999 !important;
}

.broken {
  margin: 100px;
}

.hidden {
  display: none;
}

/* Form */


/* Table actions */
td .actions a {
  display: inline-block;
  padding: 10px;
}

td.actions {
  text-align: right;
}

td .ant-tag {
  margin-top: 5px;
}

/* External options */
.table-options {
}
  .table-options a {
    margin-right: 30px;
  }

/* Dashboard */
.dashboard {
  margin: 24px;
}
  .dashboard .campaign-counts .name {
    text-transform: capitalize;
  }

/* Templates */
.wysiwyg {
  padding: 30px;
}

/* Subscribers */
.subscribers table .name {
  margin-bottom: 10px;
}

.subscriber-query {
  margin: 0 0 15px 0;
  padding: 30px;
  box-shadow: 0 1px 6px #ddd;
  min-height: 140px;
}
  .subscriber-query .advanced-query {
    margin-top: 15px;
  }
  .subscriber-query textarea {
    font-family: monospace;
  }
  .subscriber-query .actions {
    margin-top: 15px;
  }

.subscription-status {
  color: #999;
}
  .subscription-status.confirmed {
    color: #52c41a;
  }
  .subscription-status.unsubscribed {
    color: #ff7875;
  }

/* Import */
.import .import-container {
  margin-top: 100px;
}
.import .logs,
.import .help {
  max-width: 950px;
  margin-top: 30px;
}
  .import .stats .ant-progress {
    margin-bottom: 30px;
  }
.import .csv-example {
  background: #efefef;
  padding: 5px 10px;
  display: inline-block;
}
  .import .csv-example code {
      display: block;
  }
  .import .csv-example .csv-headers span {
    font-weight: bold;
  }

/* Campaigns */
.campaigns table tbody td {
  vertical-align: top;
  border-bottom-width: 3px;
  border-bottom-color: #efefef;
}
  .campaigns td.status .date {
    display: block;
    margin-top: 5px;
  }
  .campaigns td.lists .name {
    margin-right: 15px;
  }
  .campaigns td hr {
    margin: 10px 0;
  }

  .campaigns td.stats .ant-row {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
  }
  .campaigns td.stats .ant-row:last-child {
    border: 0;
  }
  .campaigns td.stats .label {
    font-weight: 600;
    color: #aaa;
  }
  .campaigns .duration {
    text-transform: capitalize;
  }

.campaign .messengers {
  text-transform: capitalize;
}
  .campaign .content-type .actions {
    display: inline-block;
    margin-left: 15px;
  }
  .campaign .content-actions {
    margin-top: 30px;
  }

/* gallery */
.gallery {
  display:flex;
  flex-direction: row;
  flex-flow: wrap;
}
  .gallery .image {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 90px;

    padding: 10px;
    border: 1px solid #eee;
    overflow: hidden;
    margin: 10px;
    text-align: center;
    position: relative;
  }
    .gallery .name {
      background: rgba(255, 255, 255, 0.8);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 3px 5px;
      width: 100%;
      font-size: .75em;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .gallery .actions {
      position: absolute;
      top: 10px;
      right: 15px;
      display: none;
      text-align: center;
    }
    .gallery .actions a {
      background: rgba(255, 255, 255, 0.9);
      padding: 0 3px 3px 3px;
      border-radius: 0 0 3px 3px;
      display: inline-block;
      margin-left: 5px;
     }
    .gallery .image:hover .actions {
      display: block;
    }
  .gallery .image img {
    max-width: 90px;
    max-height: 90px;
    display: block;
  }

/* gallery icon in the wsiwyg */
.ql-gallery {
  background: url('/gallery.svg');
}

/* templates */
.templates .template-body {
  margin-top: 30px;
}
  .preview-iframe-container {
    min-height: 500px;
  }
  .preview-iframe-spinner {
    position: absolute !important;
    width: 40px;
    height: 40px;
    left: calc(50% - 40px);
    top: calc(30%);
    /* top: 15px; */
  }
  .preview-iframe {
    border: 0;
    width: 100%;
    height: 100%;
    min-height: 500px;
  }
  .preview-modal .ant-modal-footer button:first-child {
    display: none;
  }

@media screen and (max-width: 1200px) {
  .dashboard .ant-card {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1023px) {
	.ant-table-content {
		overflow-x: auto;
	}

	.ant-table-thead > tr > th,
	.ant-table-tbody > tr > td {
		white-space: nowrap;
	}
}

@media screen and (max-width: 768px) {
	.ant-modal {
		top: 0 !important;
	}

	hr {
		margin: 20px 0;
	}

	.subscriber-query {
		padding: 20px
	}

	.header-action-break {
		text-align: left;
	}

	.subscribers.content .slc-subs-section .table-options {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid #f4f4f4;
	}

	.subscribers.content .slc-subs-actions a {
		display: block;
		margin-bottom: 5px;
	}

	.ant-modal.subscriber-modal .subscriber-export {
		margin-top: 10px;
	}

	.ant-modal.subscriber-modal .subscriber-name {
		display: block;
	}

	.dashboard {
		margin: 24px 12px;
	}
}
